<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <!-- google font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"> -->
  <link rel="stylesheet" href="css/main.css">
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <title>Dischi Musicali</title>
</head>

<body>

  <div id="app">

    <!-- inizio barra superiore -->
    <div class="top-bar">
      <a href="#"><img src="img/logo.png" alt=""></a>

      <select v-model="selectDisk">
        <option value="All">All</option>
        <option value="Rock">Rock</option>
        <option value="Pop">Pop</option>
        <option value="Jazz">Jazz</option>
        <option value="Metal">Metal</option>
      </select>
      
    </div>
    <!-- fine -->

    <!-- inizio lista album -->
    <ul>

      <li v-for="disk in album" v-if=ricerca(disk)>
        <a href="#">

          <img :src="disk.poster" alt="">
          <h4>{{ disk.title.toUpperCase() }}</h4>

          <div class="small-font">
            <p>{{ disk.genre }}</p>
            <p>{{ disk.year }}</p>
          </div>

        </a>
      </li>

    </ul>
    <!-- fine -->

  </div>


  <script src="js/script.js"></script>
</body>

</html>